
# PlanAhead Generated physical constraints 

NET "CS" LOC = P46;

NET "MIC23" LOC = P21;
NET "MIC24" LOC = P24;
NET "MIC25" LOC = P25;
NET "MIC26" LOC = P27;
NET "MIC27" LOC = P28;
NET "MIC28" LOC = P29;
NET "MIC29" LOC = P30;
NET "MIC30" LOC = P31;
NET "MIC31" LOC = P32;
NET "MIC32" LOC = P37;
NET "MIC33" LOC = P38;
NET "MIC34" LOC = P39;
NET "MIC35" LOC = P41;
NET "MIC36" LOC = P42;
NET "MIC37" LOC = P43;
NET "MIC38" LOC = P44;
NET "MIC39" LOC = P45;

NET "MOSI" LOC = P48;
NET "SCK" LOC = P49;
NET "WR" LOC = P131;
NET "ZIF0" LOC = P120;
NET "ZIF1" LOC = P117;
NET "ZIF2" LOC = P116;
NET "ZIF3" LOC = P115;
NET "ZIF4" LOC = P114;
NET "ZIF5" LOC = P113;
NET "ZIF6" LOC = P112;
NET "ZIF7" LOC = P111;
NET "ZIF8" LOC = P110;
NET "ZIF9" LOC = P105;
NET "ZIF10" LOC = P104;
NET "ZIF11" LOC = P103;
NET "ZIF12" LOC = P102;
NET "ZIF13" LOC = P101;
NET "ZIF14" LOC = P99;
NET "ZIF15" LOC = P98;
NET "ZIF16" LOC = P96;
NET "ZIF17" LOC = P93;
NET "ZIF18" LOC = P92;
NET "ZIF19" LOC = P91;
NET "ZIF20" LOC = P90;
NET "ZIF21" LOC = P88;
NET "ZIF22" LOC = P87;
NET "ZIF23" LOC = P85;
NET "ZIF24" LOC = P84;
NET "ZIF25" LOC = P83;
NET "ZIF26" LOC = P82;
NET "ZIF27" LOC = P79;
NET "ZIF28" LOC = P78;
NET "ZIF29" LOC = P77;
NET "ZIF30" LOC = P76;
NET "ZIF31" LOC = P75;
NET "ZIF32" LOC = P72;
NET "ZIF33" LOC = P71;
NET "ZIF34" LOC = P70;
NET "ZIF36" LOC = P68;
NET "ZIF37" LOC = P67;
NET "ZIF38" LOC = P64;
NET "ZIF39" LOC = P63;
NET "ZIF35" LOC = P69;
NET "SCK" CLOCK_DEDICATED_ROUTE = FALSE;